body {

}

.header {
display: grid;
grid-template-columns: 390px 380px 270px 100px;

gap: 5px;

width: 89%;

}

a {
    text-decoration: none;
    
}

 h3  {

font-size: 20px;

} 

span {
font-size: 15px;

} 

form {
    grid-column: 3;
   
}
#submit-b {
    border-radius: 20px;
}

.categories {

grid-column: 2;

}

ul {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  gap: 30px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 
}

.cart {
    grid-column: 4;
}

 div {
    
}

.side{
   float: right;
  width:10%

 }

 .main {
    width: 80%
    
 }